[2020-04-04 00:34] verata-veritatis opened #1 "Contributors"
@all-contributors please add @verata-veritatis for code

[2020-04-04 00:42] tconley commented on #1
@all-contributors please add @tconley for code

[2020-04-04 00:43] tconley commented on #1
@all-contributors please add @verata-veritatis for code

[2020-04-04 00:45] verata-veritatis commented on #1
@all-contributors add @verata-veritatis for docs

[2020-04-04 01:34] verata-veritatis commented on #1
@all-contributors add @tconley for ideas

[2020-04-04 01:35] verata-veritatis commented on #1
@all-contributors add @tconley for ideas

[2020-04-04 20:42] verata-veritatis opened #6 "Empty data entry on WebSocket raises KeyError"
[code]

Need to handle this Exception by returning an empty list instead.

[2020-04-05 21:49] verata-veritatis commented on #6
Error fixed in pybit 1.0.2.

[2020-04-05 21:49] #6 closed

[2020-04-13 13:37] LordOberlord opened #7 "ws exits with winerror 10054 after certain amout of time"
After ca. 6-12 hours the ws exits automatically with winerror 10054 "An existing connection was forcibly closed by the remote host".
[Log.txt](https://github.com/verata-veritatis/pybit/files/4469700/Log.txt)

[2020-04-14 08:08] verata-veritatis commented on #7
The remote host can sometimes close the WebSocket connection. This can be detected by performing `ws.ping()` on interval. If connection has been lost, the request will return an error, which can be caught with an exception and followed by a reconnect. I'm considering adding an `auto_reconnect=True` argument to the WebSocket constructor, which will do all of that automatically `_on_error`.

[2020-04-14 08:46] LordOberlord commented on #7
Ok, I will rewrite my script and see what will happen.
Thank you!

[2020-04-15 23:07] verata-veritatis commented on #7
The issue seems to be on HTTP and not on WebSockets. I will update so that it handles and retries after error.

[2020-10-12 08:06] daikts opened #8 "Websocket.fetch returns reference to underlying data"
Hey there, thanks a lot for building a solid Bybit connector!

I found it very easy to get set up and running, but it seems there is a key usage issue that was counter-intuitive to detect that might be useful to address:

After subscribing to data that gets updated via deltas (such as the orderbook), the returned object is a reference to the underlying `Websocket.data` structure, which means that

[2020-10-12 08:32] verata-veritatis commented on #8
Hey @daikts, you are absolutely right—I will make this change in the next release. It was originally designed this way for my own needs, but it is definitely not the most desired method of maintaining the data.

[2020-10-20 15:51] just-a-normal-human opened #9 "Unable to get ws kline data"
Hi! I was trying to get kline data via the perpetual websocket, it connects without error but the responses thereafter are just empty dicts. Don't know if your supporting perpetual klines?
This is the code I'm using:

[code]

and this is the response:

[code]
It continues without change.

Also the orderbookL2 endpoint is spitting out this:

[code]

Thanks in advance and for the awesome library my

[2020-10-20 16:04] verata-veritatis commented on #9
Yikes. Sorry about that. I'll fix this by the end of today.

[2020-11-14 10:28] HeshamMahrous opened #10 "New APIs released by bybit can you please modify it in the code."
1. The following WebSocket topics will be removed from service:

a) orderBook25 (please replace with topic orderBookL2_25 or

orderBook_200.100ms)

b) kline (please replace with topic klineV2)

c) instrument (please replace with topic instrument_info)

2. The following REST API will be upgraded. The older version of API will be deprecated on December 10, 2020. Effective immediately, the rate limit

[2020-11-14 20:58] verata-veritatis commented on #10
Hi @HeshamMahrous,

Yes, I am currently working on various updates to the library and will push the new endpoints with the rest of the updates for the next version. As far as WebSocket, the user defines his/her own topics when subscribing (i.e. the topics aren't hardcoded into the lib).

[2020-11-14 22:42] verata-veritatis commented on #9
Hey, sorry it took a while. I've been doing update after update here for the release candidate and will post a new release within the next week.

Couple notes about your issue here:
- From the docstring of WebSocket, it states to use a list of subscriptions, rather than a single subscription in a string. Essentially, you would be doing `['candle.1.BTCUSD']` rather than `candle.1.BTCUSD`.
- I have

[2020-11-15 10:39] verata-veritatis commented on #8
@daikts I've been spending a lot of time doing a bunch of updates/upgrades back and forth and I'm still trying to tackle what you're saying, or rather, trying to understand (sorry it took so long btw...life happened). I think I initially understood what you said differently and now going back to it I think I'm misunderstanding.

You should be receiving a full 25-level orderbook as a list of dictio

[2020-11-22 02:54] verata-veritatis commented on #7
WebSockets/HTTP will now force retry after failure.
https://github.com/verata-veritatis/pybit/commit/368439efbc6db01154b72cbe7986c6356b712562
https://github.com/verata-veritatis/pybit/commit/f3e4ec5941ccd50b5f9539921a2e5371a98be737

[2020-11-22 02:54] #7 closed

[2020-11-22 02:54] #1 closed

[2020-11-22 02:56] verata-veritatis commented on #8
`WebSocket` class will now return a copy of `self.data`.
https://github.com/verata-veritatis/pybit/commit/aa3311c11a7fbd7d24b02eabeb0243cd7fa6ac02

[2020-11-22 02:56] #8 closed

[2020-11-22 02:57] verata-veritatis commented on #9
Added `candle` to monitored streams.
https://github.com/verata-veritatis/pybit/commit/aa3311c11a7fbd7d24b02eabeb0243cd7fa6ac02

[2020-11-22 02:57] #9 closed

[2020-11-22 02:57] verata-veritatis commented on #10
New endpoint URLs are up.
https://github.com/verata-veritatis/pybit/commit/896f2b13b10aefdd6743e22b34fba472e0b11b19

[2020-11-22 02:57] #10 closed

[2020-11-29 11:18] daikts commented on #8
Cool, thanks a lot for the update - returning a copy of `self.data` was indeed my suggestion, I believe you understood me correctly in the end.

However I see that you're using `dict.copy` as opposed to `copy.deepcopy` - I believe we'll still face similar behaviour without the latter, since orderbook data contains lists, which are passed as references when copying shallowly:

[code]

I haven't scr

[2020-12-06 22:52] rnnyrk opened #13 "malloc: can't allocate region"
Hi there,

I have pybit v1.1.8 installed in my virtual environment. When I try to run my app I get the following error:

[code]

My data.py has the following code. When I commented line 2 the erorr disappears:
[code]

Do you have any idea what the issue can be?
Running python 3.9.0
Thanks for th help.

[2020-12-06 23:06] verata-veritatis commented on #13
Hey there,

Did you install python using brew?

From my research it seems like brew is still buggy on Big Sur, and numpy doesn't like the installation. From the error you can see that the exception is popped when websocket library attempts to import numpy.

https://stackoverflow.com/questions/64530174/python3-9-malloc-cant-allocate-region-error-3
https://github.com/numpy/numpy/issues/17557

[2020-12-07 09:49] rnnyrk commented on #13
Hi @verata-veritatis. I have python installed with `pyenv` and installed pyenv with brew indeed.  Strange thing is that it actually did work after updating to Big Sur. No clue why it suddenly stopped working. Downgraded `numpy` to 1.18.0 instead of 1.19.x and now it works again. Thanks for your help.

[2020-12-07 09:49] #13 closed

[2020-12-12 01:36] cameronhh opened #14 "Bug: Param validation for 'from' failed on the 'required' tag"
Just stumbled upon this repo toady, really appreciate everyone's work!

When using `query_kline`, `query_mark_price_kline` on the HTTP class, trying to use `from` in **kwargs will throw a SyntaxError since `from` is a reserved keyword in Python.

Steps to reproduce:

[code]

I noticed you've used `from_time` in the tests, but it appears the tests have gone stale. Will make a PR today.

[2020-12-12 01:55] camhahu commented on #14
See PR #15

[2020-12-12 06:58] verata-veritatis commented on #14
Perfect; I was going to fix this next week but looks like you've got it. The current work around was to simply create a dictionary and send the dictionary through as `**kwargs`. Merging PR. I'll release a new version on pypi this weekend.

[2020-12-12 06:58] #14 closed

[2021-01-05 19:45] kitt-th opened #18 "ws.fetch("position") returns buy and sell side data when short"
Hello,

Firstly thanks for pybit, I'm building code around it nicely, but I have one area of confusion when getting position data via the websocket.

During tests, I had the bot enter 20 contracts long and then 40 contracts short to have the position be short/sell side.
However, ws.fetch("position") returned data for both the Buy and Sell sides of 20 contracts each. Is there something I'm missing?

[2021-01-05 22:50] verata-veritatis commented on #18
Hey there!

It's not possible to have multiple positions open on the same inverse perpetual ticker on Bybit. You are essentially altering a single position by adding or subtracting contracts. Also remember that this endpoint shows your position, and not your orders.

1. You market long 20 contracts.
2. Your position is now long 20 contracts (0 + 20 = 20).
3. You market short with 40 contracts.
4.

[2021-01-05 22:54] verata-veritatis commented on #18
Ah, I think I understand. I'm assuming it's because the endpoint is showing your historical (previous) position. How it should be behaving is only showing your current endpoint but it seems like the dictionary is not being deleted between updates. Let me take a look. Thanks for bringing this up!

[2021-01-06 02:18] verata-veritatis commented on #18
@kitt-th Can you please install the next release candidate with `pip` and attempt to run your bot again to see if the behavior is as intended?

This can be done with:
`pip install --upgrade --pre pybit`

[2021-01-06 07:05] APF20 commented on #18
It appears Bybit has just changed the websocket inverse position feed data for the 'side' parameter without telling anybody or updating the changelog/docs.

Previously inverse positions returned 'side': 'None' (string), while linear returned 'side': 'Buy' or 'Sell'.

Now inverse also return a 'Buy' or 'Sell' side parameter, except 'BTCUSDH21', which still returns 'None' (and strangely this ticker

[2021-01-06 08:26] verata-veritatis commented on #18
Haha they like doing that. I did a lazy patch tonight assuming that this new way will differentiate between inverse/linear, but I'll take a deeper look tomorrow and make a solid fix.

[2021-01-06 09:30] kitt-th commented on #18
Thanks for looking into this! I'm going to submit a request to bybit to up their API documentation and notification game. This happens a lot eh. As problematic as Bitmex was with overload, otherwise I found their API to be much better :D in terms of operation.

A REST rq for position still returns "side": "None" but the ws behaves differently. Their data delivery is kinda messy.
e.g via REST 'is_i

[2021-01-06 09:33] verata-veritatis commented on #18
Yeah it seems like Bybit has no development process, or at least, very little of it. They just throw in experimental updates without referencing documentation and hope it solves things lol. @kitt-th if you're on the API Telegram group, PM Dexter. He's the direct connection between the consumer and the higher-ups of the developers.

[2021-01-07 08:09] APF20 commented on #18
The change to use the 'symbol' parameter for the 'if' condition in the patch works well, I checked the fix against both linear and inverse positions and have also asked Bybit to confirm the change on their end is permanent (still waiting on a reply but i assume it would be).

I think the current positions dictionary format is also good as is, with inverse containing a single entry and linear conta

[2021-01-07 14:00] dextertd commented on #18
Hi chaps, don't want to completely derail this issue but I thought a response was necessary for your detailed comments and criticism of the bybit API. I'm only reading this issue personally as a user of `pybit` but I thought an "official" response as an employee of bybit would be appropriate.

The team have been compiling a list of inconsistencies and other difficulties developers have faced. I ca

[2021-01-07 18:08] verata-veritatis commented on #18
Hey Dexter—first off, I wanna thank you for stopping by. You've been nothing but extremely helpful in the development of this library and other applications using Bybit's API, as well as in taking recommendations for improvements to the API!

I think all we developers ask for is consistent and accurate documentation of upcoming changes to the API so we know what we need to change and when. There h

[2021-01-07 18:12] verata-veritatis commented on #18
Awesome; thanks for checking in on it. I still want to do a couple more tests later today with the change, but I'll push it to release afterwards.

[2021-01-07 21:03] kitt-th commented on #18
thanks to all the speedy fix-ups here. I've runs successful tests on the testnet BTCUSD inv perp in all combinations and has been smooth.

I second the request to the devs to supply timely notifications and updated documentation!
After all, happy bot developers stay on bybit generating more fees for the exchange, right?

[2021-01-07 21:54] verata-veritatis commented on #18
Issue fixed with: ea5375e672a0f6f6c92b9600832f2187a7e4508e

[2021-01-07 21:54] #18 closed

[2021-01-12 17:11] kitt-th opened #20 "Websocket - logger error for 'stop_order_id'"
Greets,

I'm getting the following error from the logging module when a stoploss order is placed or modified on the testnet. I can only presume that the bybit websocket is passing back 'stop_order_id' as a parameter which is not expected?

ERROR - error from callback <bound method WebSocket._on_message of <pybit.WebSocket object at 0x1a1b442ad0>>: 'stop_order_id'

Conditional order placement and m

[2021-01-12 17:12] kitt-th opened #21 "Websocket logger error from callback"
Greets,

I'm getting the following error from the logging module when a stoploss order is placed or modified on the testnet. I can only presume that the bybit websocket is passing back 'stop_order_id' as a parameter which is not expected?

ERROR - error from callback <bound method WebSocket._on_message of <pybit.WebSocket object at 0x1a1b442ad0>>: 'stop_order_id'

From how I'm reading the docs - i

[2021-01-12 17:27] verata-veritatis commented on #21
Hey there,

I'll take a look today and will let you know.

[2021-01-12 18:34] verata-veritatis commented on #21
Hmm I wasn't able to reproduce this on testnet. Would you mind describing how you placed your stop order and what sequence of events led to this error?

[2021-01-12 18:35] verata-veritatis commented on #21
I see it now; it seems to happen very sporadically. Give me a few.

[2021-01-12 18:48] verata-veritatis commented on #21
Fixed in 77914c7f9d42dce2836bb637227f8cae76b02b95. Will be building new release later today.

[2021-01-12 18:48] verata-veritatis commented on #20
Duplicate issue: https://github.com/verata-veritatis/pybit/issues/21.

[2021-01-12 18:48] #20 closed

[2021-01-14 06:58] APF20 commented on #21
@verata-veritatis the change implemented in that fix actually breaks the linear websocket feeds, which still do use 'stop_order_id' as the identifier.

I dont know if this is another change made by Bybit without notification again, as I am sure I checked the change to use "topic+'_id'" against both inverse and linear when I implemented it.

@kitt-th was it working ok before? If so, I will contact

[2021-01-14 07:09] verata-veritatis commented on #21
It was working a couple days ago with linear lmao. Sounds like they might have been making some on-the-fly changes?

[2021-01-14 07:10] verata-veritatis commented on #21
It was working for a while with 'stop_order_id' but only recently started breaking on the 'stop_order' topic for inverse, so they must've changed it recently.

[2021-01-14 07:31] APF20 commented on #21
Something isn't right when an exchange makes changes that break things, without notifying anyone in advance, or even after the fact.

Maybe the change to this feed happened when they went offline for 8mins the other day, for 'internal upgrades', without telling anyone? It almost seems like Bybit are basically running a beta version api, but with peoples real money.

I'll see if I can get on to Dex

[2021-01-14 08:49] APF20 commented on #21
They confirmed the change to Inverse is permanent and Linear will be changed to also use 'order_id' in the 'future'.

I have implemented a temporary workaround in the latest PR #22, it will have to be updated again when they change the Linear field name too.

[2021-01-16 07:58] devsquaaa opened #23 "Query KLine parameter "from""
I don't know how I am supposed to pass the parameter "from" on the query_kline() method, as "from" is a python keyword.

I have tried passing it anyway, and it obviously gives a syntax error:

_File "path/to/file.py", line 19
    session.query_kline(symbol="BTCUSD", interval=interval, from=timestamp)
                                                                                               ^
S

[2021-01-16 08:01] #23 closed

[2021-01-16 08:01] devsquaaa commented on #23
My bad.

Should have looked here: https://github.com/verata-veritatis/pybit/blob/master/tests/test_pybit.py

[2021-01-16 09:55] verata-veritatis commented on #23
Haha you got it! I'll make this clearer in the README. It's unfortunate that Bybit decided to use `from`, which just happens to be reserved on Python...

[2021-01-16 09:59] verata-veritatis commented on #21
Thanks @APF20 for making the workaround. Pushed to master in 1a543301143fa9040a57a8657822ed37eb99c8aa. Will package new release later today.

[2021-01-16 09:59] #21 closed

[2021-01-16 18:18] verata-veritatis commented on #8
@daikts Have you still been having issues with this recently? Figured I'd check in since `copy()` is working for a few others.

[2021-02-22 06:20] hfrog713 opened #26 "Issues with Websocket and Query Parameter "from""
When using the from parameter for the query_mark_kline method it is saying that it is invalid syntax.
I think it is because from is a keyword.

Also, i noticed the Websocket.md page is no longer maintained.
Is anyone maintaining that?
I am getting a Websocket object does not have a send method error.

Can someone please assist?
Is this codebase being actively maintained?

[2021-03-11 18:46] tomcru opened #27 "Add ByBit Futures support"
e.g. "BTCUSD0625"

Might add if I find the time in the next couple of days.

[2021-03-11 18:49] verata-veritatis commented on #27
Thanks Tom. I'll take a look at it as well. Yeah I've been so busy lately haven't had time to update the market maker based on `pybit` at all despite numerous users saying its broken haha.

[2021-03-11 21:26] tomcru commented on #27
looks like "/v2/" suffix needs to be replaced with "/futures/" on the affected endpoints when wanting to access the futures symbol "BTCUSDM21".

From what I've tested so far (trade.BTCUSDM21, instrument_info.100ms.BTCUSDM21), the Websocket needs no changes.

[2021-03-14 12:26] slurpxbt opened #28 "Issues with Websocket connection from windows server 2016"
below is the error I get when I try to connect to websocket on widows server 2016

the code works fine on my personal PC

ERROR:
2021-03-14 11:28:44 - websocket - ERROR - error from callback <bound method WebSocket._on_message of <pybit.WebSocket object at 0x000002064BE7FE50>>: _on_message() takes 2 positional arguments but 3 were given

[2021-03-17 10:37] tomcru commented on #28
I'm randomly running into the same issues (on Ubuntu), but have correct version of websocket-client installed.

Changing the code to this:

[code]

fixes the issue.

@verata-veritatis any thoughts?

[2021-03-21 20:23] #27 closed

[2021-03-21 23:26] #28 closed

[2021-03-21 23:28] verata-veritatis commented on #26
@hfrog713 use `from_id`. The method will handle it and submit as `from` to bybit.

[2021-03-21 23:28] #26 closed

[2021-03-25 02:23] samholt opened #31 "Orderbook subscribing not working for UNIUSDT"
Nice project !

When running this minimal example, there is no output, according to the api docs I would expect to see output:

[code]

Could you clarify on what I might be doing wrong ? Otherwise I think there is a bug with getting the orderbook for UNIUSDT,

Api docs : https://bybit-exchange.github.io/docs/inverse/#t-websocketorderbook25

[2021-03-25 03:59] verata-veritatis commented on #31
Hey there,

I'll check on this first thing tomorrow. I was planning to do an entire overhaul of the `Websocket` object by the end of this week anyways.

[2021-03-26 18:38] Big-Shep opened #32 "Unable to set limit order to close position"
The 'close_position' custom function is great; however, I can't seem to find a way to close with a limit order.

[2021-03-27 18:33] verata-veritatis commented on #32
`close_position` is meant to be used as a quick emergency market close. The method still requires an API call to fetch position, so I didn't feel it necessary to create a limit `close_position` because the user can simply just fetch their position then place an opposing order. However, if it gets asked about, I'll consider adding it.

[2021-04-13 17:12] hopscotch-devops opened #35 "Orderbook Snapshot Error"
Line  1819 should be changed

self.data[topic] = msg_json['data'] -> self.data[topic] = msg_json['data']['order_book']

[2021-04-13 17:40] verata-veritatis commented on #35
Hey there. Yes Bybit updated how their websocket works recently. I'll look into this later today. Thanks for the heads up~

[2021-04-30 12:51] kitt-th opened #36 "Standard post-only Limit orders being rejected ('reduce_only' test fails!)"
Greets,
A puzzling problem here - I am hoping it's something small I have missed... if so please let me know!

Trying: send 3 post only limit orders to open a position, using place_active_order_bulk()

The orders being passed to place_active_order_bulk() are:
`[{'symbol': 'BTCUSDT', 'order_type': 'Limit', 'side': 'Buy', 'qty': 0.008, 'price': 45555.0, 'time_in_force': 'PostOnly'},
{'symbol': 'BTCU

[2021-04-30 13:31] kitt-th commented on #36
addendum - the above works fine on the inverse perp BTCUSD pair,
but not on the BTCUSDT perp pair

[2021-04-30 15:55] kitt-th commented on #36
aaaand my mistake for reading the inverse futures docs and not the linear usdt futures docs :D
self-solved

[2021-05-29 22:12] moranelli opened #37 "Websocket auth request expired"
Hi,
I am trying to subscribe to position or order and I don't get data because the auth failed. The problem is that the websocket not raise any exception. I debug the websocket and I can see the error:

[code]

If I change the "def _auth(self)" and increase the expires variable the websocket return data correctly.
I thing that is a good idea implement the auto increase recv window like HTTP that w

[2021-06-04 20:02] only4everock commented on #36
how did you fixed it ? Can you share it please ? Thanks

[2021-06-04 20:03] only4everock commented on #36
if I make reduce only true on set tp and close on trigger false on stop not working

[2021-06-08 19:17] dextertd opened #38 "get_active_order() fails to recognise BTCUSD, calling incorrect endpoint"
Executing

[code]

pybit raises

[code]

(sensitive info replaced)

pybit called the incorrect endpoint, `/futures/private/order/list`, which does not support the BTCUSD symbol. The problem lies here: https://github.com/verata-veritatis/pybit/blob/master/pybit/__init__.py#L410

[2021-06-08 19:19] dextertd opened #39 "ws.fetch() does not return new messages when subscribing to USDT topics"
Issue described here: https://t.me/BybitAPI/57492

[2021-07-11 07:24] LordOberlord commented on #39
Hello,

I think this is intended behavior since it is documented in the code.

You can work around this if you add 'order' after line 1735 in the __init__.py

Greetings
Lord

[2021-07-11 18:18] MrPDR1 opened #44 "session.get_wallet_balance"
Hi! Thank you for alle the work in this project.

I am not quite sure how to use the endpoints right, i assume that any endpoint, such as get_wallet_balance() requires the "session." as a prefix? If so, I do not understand how the use the parameters "self" and "kwargs". For instance, session.get_wallet_balance() returns the same bunch of data as session.get_wallet_balance (symbol='BTCUSD', kwargs=

[2021-07-22 15:25] verata-veritatis commented on #44
Hi Paul,

The `kwargs` argument is used to pass multiple parameters that are request by Bybit. I recommend you read more about the usage of `*` in Python, like in `*kwargs`. `kwargs` will be a dictionary that is decomposed. You wouldn't define `kwargs` yourself, you would just pass all the params instead. For example:

[code]

With that said, you aren't able to filter for a specific part of the re

[2021-07-22 15:41] projenix opened #46 "WS subscriptions not working (returning empty sets)"
Hello,

I'm using the official example as-is and I'm getting "{}" from all subscriptions.

Thanks in advance,

Edit: Bybit API was experiencing problems sorry.

[2021-07-22 15:48] #46 closed

[2021-07-24 20:27] dextertd opened #47 "my_position() uses symbol to determine endpoint path, but it's not a required param"
As `symbol` is not a required parameter for all Futures `position/list` endpoints, this means that `/v2/private/position/list` is called by default; but this is not necessarily intended by the user.

Also, this means that it's not possible to call other endpoints without specifying a symbol, so it's impossible to receive a response detailing multiple symbols.

This is unfortunately as it means thi

[2021-09-26 01:22] projenix opened #54 "get_wallet_balance(spot=True) gives empty results when sub account has no balances"
This bug is related to spot sub accounts only.

## Pybit version: 1.3.0

## How to reproduce:
Make sure the spot section of a sub account has no balances, then try to query its balance with get_wallet_balance(spot=True) using the sub account's API keys. Instead of getting a well formed output showing zero balances you will get the following empty output instead:

{'ret_code': 0, 'ret_msg': '', 'ex

[2021-09-29 14:24] dextertd commented on #54
Bybit API problem, not isolated to pybit

[2021-09-29 14:24] #54 closed

[2021-09-29 14:24] #39 closed

[2021-10-03 20:29] MasterGeorges67 opened #56 "ModuleNotFoundError: No module named 'jsonschema.compat'"
I use pybit for accessing bybit.
Versions before 1.3 I never saw problems like this.
============
(env) PS E:\programming\Project\TradeBot> python .\TradingBot.py
Traceback (most recent call last):
  File "E:\programming\Project\TradeBot\TradingBot.py", line 12, in <module>
    from bybit import HTTP
  File "E:\programming\Project\TradeBot\env\lib\site-packages\bybit\__init__.py", line 3, in <modu

[2021-10-03 20:45] MasterGeorges67 commented on #56
I identified the problem, it is in the version 4.0.1 of the jsonschema. Revert to version 3.1.1 was solving the problem!

[2021-10-03 20:50] MasterGeorges67 commented on #56
From the developer of the jsonschema:
-----
Hi there. This is a downstream bug you should file on swagger-spec-validator, unless you see it filed already.

More context in #843.
-----
I think it is something wrong in the version 1.3
Regards,

[2021-10-04 08:31] dextertd commented on #56
pybit does not use swagger, I think you meant to file this bug in https://github.com/bybit-exchange/api-connectors/issues

[2021-10-04 08:31] #56 closed

[2021-10-06 11:53] RumiFlow opened #58 "USDT perpetual order creation fails with "Error sign!" in place_active_order"
System: macOS
pybit version: 1.3.0

My code is working for for coin based perpetual contracts. Tried adapting for the ETCUSDT perpetual contract.
Authentication and active order queries work fine. However, creating an order fails with an "Error sign!" exception

[code]

[2021-10-06 15:50] dextertd commented on #58
Hm the returned origin_str is all in lower case, very strange. Can you show the full pybit call please (traceroute only shows the last last `close_on_trigger="False")`)

[2021-10-06 15:51] #44 closed

[2021-10-06 16:30] RumiFlow commented on #58
Here the full call:
[code]

I use exactly the same call for coin based perpetuals except for parameters: reduce_only="True" & close_on_trigger="False"

[2021-10-06 16:57] dextertd commented on #58
Please do the following params as booleans as shown, rather than strings
[code]

[2021-10-06 20:52] RumiFlow commented on #58
Yep! That did the trick.
Thanks!

[2021-10-06 20:52] #58 closed

[2021-10-19 03:54] To-Life commented on #46
the same issue, @projenix  may I know how to resolve. tks.

[2021-10-19 08:32] dextertd commented on #46
@To-Life Please check your code against the examples (in the "examples" folder). If you're still not sure, feel free to share your code. It will be easier to solve if you join the bybit telegram group https://t.me/BybitAPI

[2021-11-12 08:14] viper7882 commented on #31
Hi @verata-veritatis,

I've ran the example provided by https://github.com/verata-veritatis/pybit/blob/master/examples/websocket_example.py, it seems like the very first command to get order book of BTCUSD is also not working.

[code]

Observed output:
[code]

Seriously this observation has created impact if websocket is really working for PyBit. I also looked at the issue list, it seems like your

[2021-11-12 15:15] viper7882 opened #61 "ENHANCEMENT: New common API round_tick and round_step before placing order"
Hi @verata-veritatis,

**Problem Statement**
Often for take profit (TP) and stop loss (SL) calculation, if they are certain percentage away from the order price, the result will not be matching with the tick size (step size for quantity).

**Observation**
Chances are users would have created their own version of *round_tick* and *round_step* function call to change TP, SL and quantity in order to

[2021-11-16 20:11] g1thub11 opened #62 "Parsing Returned Data"
Could you provide an example of how to parse data for pybit in Python? To get just the order_id from session.get_active_order(symbol="XRPUSDT") what would I need to do?

[2021-11-25 11:02] matteotaronna01 opened #63 "Rare error: Timestamp for this request is outside of the recvwindow. (ErrCode: -1021)"
I literally didn't change anything in my code and from one day to another, I cant execute any place_active_order() because this is the error i get.

[2021-11-29 13:42] viper7882 opened #65 "Website: Get risk limit endpoint does not require authentication but Pybit doesn't seem to agree"
There seems to be a mismatch between document @ https://bybit-exchange.github.io/docs/linear/?python--pybit#t-getrisklimit vs actual pybit v1.3.2

Document mentioned Get risk limit. This endpoint does not require authentication but when I run the example Python code below,
[code]
authentication is expected:
Traceback (most recent call last):
  File "<input>", line 3, in <module>
  File "D:\xxx\ven

[2021-12-01 12:55] Long199for opened #66 "connection refused"
I'm running your example, and got time out on ssl or refused. And I found that even if I use:
import  requests
h = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.45 Safari/537.36",
}
r = requests.get('https://api-testnet.bybit.com/spot/quote/v1/kline?symbol=ETHUSDT&interval=5m', headers=h)

I still got refused.

while if I use

[2021-12-02 19:12] ImaRicklePick commented on #37
#67 Started a PR on this issue

[2021-12-22 02:19] ericcastro commented on #31
I am a bit disappointed that this is getting zero attention and is from March 25 but no news since.

I asked myself every question @viper7882 did. example code doesn't work, seems outdated too and yes, websocket support is supposed to provide streaming like code structure - one shouldn't be polling (even though behind the scenes it's what ultimately happens)

[2021-12-24 11:43] Marcus020 commented on #62
Multiple ways of doing that, two examples:

contract_size = session.my_position(symbol="BTCUSD")
print(contract_size["result"]["size"])

contract_size = (session.my_position(symbol="BTCUSD"))["result"]["size"]
print(contract_size)

etc.

Not sure if they have a .result() function like the previous library.

[2021-12-24 12:02] dextertd commented on #31
I am revamping the websocket system away from polling, take a look at the branch [restructure_wss](https://github.com/verata-veritatis/pybit/tree/restructure_wss). There is an example file there to show how it works.

You're right, the current websocket example is misleading. The problem lies with the current websocket fetch method, because if we add the `while` loop for each example, the rest of

[2021-12-24 12:02] #31 closed

[2021-12-24 12:03] #35 closed

[2021-12-24 12:13] dextertd commented on #37
@moranelli See https://github.com/verata-veritatis/pybit/pull/67#issuecomment-1000814774 for why I am weary of "auto increase like recv window" for websocket, and I personally don't like the auto increase in HTTP...

Why is it "very difficult to sync the timestamp"? I think you can just sync your computer's clock, which is done differently depending on the OS.

[2021-12-24 12:13] #38 closed

[2021-12-24 12:15] dextertd commented on #47
Fixed by abd7e3dd287ff982c6c172c75d8989df22f38a01

[2021-12-24 12:15] #47 closed

[2021-12-24 12:20] dextertd commented on #61
This would definitely be a really useful "helper" method, and I have implemented similar functionality in the past which has the same goal

[code]

For ease of use `tick_size` defaults to `0.5` as that is what the most popular bybit futures markets use, but the function works regardless of its value.

I will do this at some point in the future

[2021-12-24 12:20] #62 closed

[2021-12-24 12:22] dextertd commented on #63
#63 doesn't solve this problem because it addresses the websocket, not the HTTP.

This problem can be solved by syncing your computer's clock or increasing the `recv_window`

[2021-12-24 12:26] dextertd commented on #65
Good catch. Will fix it.

[2021-12-24 12:51] #65 closed

[2021-12-24 12:55] dextertd commented on #66
Please show the full traceroute including the error.

[2021-12-27 05:20] jerrydboonstra opened #69 "README.md has bad links to the websockets_example.py file"
Looks like the websockets.py example filename was renamed but the README.md was not updated.  I'll send a PR.

[2021-12-27 05:23] jerrydboonstra commented on #69
https://github.com/verata-veritatis/pybit/pull/70

[2021-12-28 00:22] jerrydboonstra opened #71 "False positive test of websocket hides failure"
Running tests on the `master` branch like `python setup.py test` yields error output like this, but no tests fail.

`....
2021-12-27 16:11:35 - pybit - ERROR - You aren't subscribed to the ['instrument_info.100ms.BTCUSD'] topic.
ERROR`

This is a failure situation that should yield an error.  Currently this situation is only logged to error with no return value.  This clearly should instead throw

[2021-12-28 00:27] jerrydboonstra commented on #71
Added https://github.com/verata-veritatis/pybit/pull/72

[2021-12-29 09:40] viper7882 opened #73 "Issue: max_leverage of Query Symbol does not change even after risk_id change using set_risk_limit"
Hi Pybit Admin,

It has been discovered that the max_leverage value from Query Symbol always exhibit the highest maximum leverage value despite the set_risk_limit has been switched from lowest Risk ID to highest Risk ID.

[code]

Sample output:
[code]

"max_leverage" seems to be stuck at value of 25 forever, which when looking back at [Query Symbol](https://bybit-exchange.github.io/docs/inverse/#t

[2021-12-29 10:24] dextertd commented on #69
Good eye. The HTTP example links are also broken, I will add a commit to your PR

[2021-12-29 10:31] #69 closed

[2021-12-29 16:52] dextertd commented on #73
This is not a question for an API wrapper like pybit, but for the API itself. Please ask at https://t.me/BybitAPI

[2021-12-29 16:52] #73 closed

[2021-12-30 02:32] viper7882 commented on #73
Thanks @dextertd for looking into this matter for us.

The initial thought was to post it to [BybitAPI](https://t.me/BybitAPI) as well but unfortunately we foresee that someone will be asking the Python code to reproduce the issue. Since Telegram is not as conducive Github in terms of posting source code, the natural thinking is to post the issue in Github. Our apology for any inconvenient caused.

[2021-12-30 03:24] viper7882 opened #76 "Issue: Pybit/Bybit API failed to configure a series of leverage value when risk ID is highest"
Hi Pybit/Bybit API Admin,

We've noticed a strange behavior in Pybit/Bybit API where certain range of leverage value is constantly rejected by Bybit API despite the new leverage value is different from the existing leverage value. We believe it is an issue Pybit/Bybit API team is interested to look into.

Below is the code to reproduce the issue:
[code]

Sample output screen:
[code]

It seems like

[2021-12-30 11:54] dextertd commented on #73
It may be a problem you can face with pybit, but you could just as easily reproduce it with any other API wrapper. That's why it's an API issue, not a pybit issue. Users of other wrappers in different languages (or even the same language, for CCXT users) are missing out if you post the issue here. The Bybit API Telegram group linked above is the best place for this conversation, as it is filled wi

[2021-12-31 10:51] #71 closed

[2022-01-03 21:04] jerrydboonstra opened #78 "Websockets is under documented, i'm having trouble using it"
I'm having trouble using the Websockets feature support.

If there were enhanced docs, or a strong example, or test case that would help alot.

- I cannot figure out how to easily override the various callback methods from their toy versions in the Websocket wrapper object.  This is required if we want to do stuff like store message output into databases or queues.
- managing the thread has been d

[2022-01-04 09:52] dextertd commented on #78
Is this regarding websocket on the master branch, or the developing restructure_wss branch?

[2022-01-04 19:45] jerrydboonstra commented on #78
master branch, i wasnt aware of the other branch. i'll look at it.

[2022-01-04 22:21] jerrydboonstra opened #79 "create_internal_transfer and create_subaccount_transfer should raise exception instead of log error"
This is similar to issue #72 in that error states are just logged instead of raised for handling.

I'll provide a PR.

[2022-01-04 22:24] jerrydboonstra commented on #79
Added https://github.com/verata-veritatis/pybit/pull/80

[2022-01-05 01:48] jerrydboonstra commented on #78
I took a look and I've been trying to use it.  I've created a PR with some enhancements around the tests I made as I explore it.

https://github.com/verata-veritatis/pybit/pull/81

[2022-01-06 13:32] Tikazuz opened #82 "Need help regarding websocket data"
Hey i have setup my websocket and its working great.

But i cant seem to get the data unpackked in the correct manner.

It seems that the data is a JSON dictonary, and when i try to unpack it, i get to this point.
`[{'start': 1641475140, 'end': 1641475200, 'period': '1', 'open': 464.3, 'close': 464.8, 'high': 464.8, 'low': 464.3, 'volume': '11.62', 'turnover': '5397.945', 'confirm': False, 'cross_

[2022-01-06 13:58] #82 closed

[2022-01-06 13:58] Tikazuz commented on #82
found the answer no problem.

[2022-01-10 10:35] dextertd opened #83 "close_position() doesn't account for position_idx"
Recently, position mode switch was released for USDT perp, which means position_idx is a required parameter when in single position mode. https://bybit-exchange.github.io/docs/linear/#2021-12-28

In pybit Custom Endpoints there is a command close_position(), but it seems need modification, it dosent accept 'position_idx' and without it returns error:
pybit.exceptions.InvalidRequestError: Position

[2022-01-28 14:02] msjahan47 commented on #83
It seems it doesn't work in Bybit one-way mode.

[2022-02-05 10:47] SebCoding opened #85 "Websocket Orderbook not Properly Ordered"
When using websockets to get the content of the orderbook `(orderBookL2_25.Symbol)` the content of the orderbook obtained when calling `fetch()` is out of order. When `Bybit `sends the orderbook the first time on the websocket it is ordered properly and then on subsequent delta pushes, `pybit` updates the local version of the orderbook, but does not re-sort it after delta updates. So when we call

[2022-03-08 10:04] BCusack opened #86 "Place conditional order: encoding without a string argument"
Just came over from the  Binance API and I'm just trying to place an order.
Exeption reads as : TypeError: "encoding without a string argument"
`def placeTrade(self, params) -> dict:
        """place trade"""
        try:
            res = self._client.place_conditional_order(
                    symbol=params["symbol"],
                    order_type=params["order_type"],
                    side

[2022-03-08 22:50] BCusack commented on #86
Sorry - passed an dict `HTTP({"api_key": config.API, "api_secret": config.SECRET})` to the HTTP instanciation without errors? resolved with - `HTTP(api_key= config.API, api_secret= config.SECRET)`

[2022-03-08 22:50] #86 closed